<%- include('partials/head.ejs') %>

    <body>

        <%- include('partials/navbar.ejs') %>


            <div class="m-3">
                <h1 class="display-6 text-primary  text-center">Ediçao de usuario</h1>
                <form action="/edit/<%=user._id %> " method="post" class="form-group">
                    <label for="">Nome:</label>
                    <input class="form-control" type="text" value="<%=user.name %>" name="name" id="">
                    <label for="">Idade:</label>
                    <input class="form-control" type="text" name="age" value="<%=user.age %> " id="age" placeholder="Digite sua idade">
                    <label for="">E-mail:</label>
                    <input class="form-control" type="text" name="email" value="<%=user.email %> " id="email" placeholder="Digite seu e-mail">

                    <div>
                        <button class="btn btn-primary mt-2" type="submit">Salvar edição</button>

                    </div>
                </form>

            </div>










            <%- include('partials/footer.ejs') %>

    </body>